<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Nom du cours</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/cours.css">
	<meta charset="utf-8">
</head>
<body>
	<header>
			<nav>
				<ul>
					<li class="logo-head">Mini Classroom</li>
					<li class="nav-menu"><a href="liste-cours.html">Modules</a></li>
					<li class="nav-menu"><a href="publication.html">Publication</a></li>
					<li class="nav-menu"><a href="liste-prof.html">Professeurs</a></li>
					<li class="img-profil"><a href="#"><img src="../assets/img/profil.png" width="50px" height="50px"></a></li>
				</ul>
			</nav>	
	</header>

	<div class="container">
		<div class="baniere">
			<figure>
				<img src="../assets/img/bani-cours.png" width="1100px" height="250px">
			</figure>
		</div>
		<div class="content">
			<div class="message" style="height: 120px">
				<span style="font-weight: bold;">À venir</span>
				<p style="color: #709CA7;">
					Génial, aucun devoir à remettre dans les jours qui viennent !</p>
				<a href="#" style="text-decoration: none; color: seagreen; font-weight: bold; margin-left: 80px;">Tout afficher</a>
			</div>
			<div class="affiche" style="width: 1300px; margin-left: 50px">
				<div class="pub">
					<a href="publication.html" style="display: flex;">
						<img src="../assets/img/profil.png" width="40px" height="40px" style="border-radius: 20px;"> 
						<p style="margin-left: 25px;">Faire une publication pour votre classe</p>
					</a>
				</div>
				<div class="dev-content">
					<a href="page_cours_principale.html" style="display: flex;">
						<img src="../assets/img/logo/devoir.png" width="40px" height="40px" style="border-radius: 20px;"> 
						<h4 style="margin-left: 25px">Nirina RAZONARISOA a publié un nouveau devoir : Mini-projet final</h4>
					</a>
				</div>
				<div class="dev-content">
					<a href="page_cours_principale.html" style="display: flex;">
						<img src="../assets/img/logo/devoir.png" width="40px" height="40px" style="border-radius: 20px;"> 
						<h4 style="margin-left: 25px">Nirina RAZONARISOA a publié un nouveau devoir : Mini-projet final</h4>
					</a>
				</div>
				<div class="dev-content">
					<a href="page_cours_principale.html" style="display: flex;">
						<img src="../assets/img/logo/devoir.png" width="40px" height="40px" style="border-radius: 20px;"> 
						<h4 style="margin-left: 25px">Nirina RAZONARISOA a publié un nouveau devoir : Mini-projet final</h4>
					</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>