<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>s'authentifier</title>
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
<body id="body_login">
	<form class="log_form" method="" action="">
		<div class="content_left">
			<h1 class="log_titre"> Sign in </h1>
	  		<input type="text" placeholder="Email" class="champ">
	  		<input type="password" placeholder="Password" class="champ">
	  		<p class="forgot_pass"><a href="">Forgot your password ?</a></p>
	  		<input type="submit" name="connexion" value="Login" class="boutton_login">
		</div>
		<div class="content_right">
			<h1>Hello, Friend!</h1>
			<p>Vous n'avez pas encore de compte ? Pas de problème, cliquez ici cela ne prends pas une minute et commencez à étudier!!!</p>
			<a href="Views/registre.html" target="blank">SIGN UP</a>
		</div>
	</form>
</body>
</html>