<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Publication</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../assets/css/publication.css">
</head>
<body>
	<header>
		<div>
			<nav>
				<ul>
					<li class="logo-head">Mini Classroom</li>
					<li class="nav-menu"><a href="acceuilEtudiant.php">Cours</a></li>
					<li class="nav-menu"><a href="liste-cours.php">Modules</a></li>
					<li class="nav-menu"><a href="liste-prof.php">Professeurs</a></li>
					<li class="nav-menu"><a href="calendrier.html">Calendrier</a></li>
					<li class="img-profil"><a href="#"><img src="../assets/img/profil.png" width="50px" height="50px"></a></li>
				</ul>
			</nav>	
		</div>
	</header>

	<section>
		<div class="baniere"></div>
	</section>

	<section>
		<div class="container">
			<div class="ajout">
				<button>Ajouter un commentaire</button>
				<input type="submit" name="publier" value="Publié votre publication">
			</div>
			<div class="publication">
				<div class="head">
					<figure>
						<img src="../assets/img/profil.png" width="70px" height="70px">
					</figure>
					<div class="information">
						<h2 style="color:rgb(21, 182, 200);">Dama Rakotoarinaivo</h2>
						<p style="color:grey;">Publié par Dama RAKOTOARINAIVO  . Hier, à 12h33</p>
					</div>
					<div class="menu">
						<h1>...</h1>
					</div>
				</div>
				<div class="description">
					<p>Vous faites de la publicité Facebook, mais vous n'obtenez pas de résultats...
					Alors il est très probable que vous faites une de ces erreurs courantes.</p>
				</div>
				<div class="photo-pub">
					<img src="../assets/img/image-pub.png" height="380px" width="100%">
				</div>
				<div class="commentaire">
					<div>
						<textarea placeholder="Votre commentaire..."></textarea>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>