<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Publication</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../assets/css/publication.css">
</head>
<body>
	<header>
		<div>
			<div class="connexion">
				<p><a href="">Se connecter</a> / <a href="">S'inscrire</a></p>
			</div>
			<nav>
				<ul>
					<li><a href="#">Accueil</a></li>
					<li><a href="#">Cours</a></li>
					<li><a href="#">Publication</a></li>
					<li><a href="#"><img src="" class="img-profil">Profil</a></li>
				</ul>
			</nav>	
		</div>
	</header>

	<section>
		<div class="baniere"></div>
	</section>

	<section>
		<div class="container">
			<div class="selection"></div>
			<div class="publication">
				<div class="head">
					<figure>
						<img src="../assets/img/profil.png" width="70px" height="70px">
					</figure>
					<div class="information">
						<h2 style="color:blue;">Dama Rakotoarinaivo</h2>
						<p style="color:grey;">Publié par Dama RAKOTOARINAIVO  . Hier, à 12h33</p>
					</div>
					<div class="menu">
						<h1>...</h1>
					</div>
				</div>
				<div class="description">
					<p>Vous faites de la publicité Facebook, mais vous n'obtenez pas de résultats...
					Alors il est très probable que vous faites une de ces erreurs courantes.</p>
				</div>
				<div class="photo-pub">
					<img src="../assets/img/image-pub.png" height="380px" width="100%">
				</div>
				<div class="commentaire">
					<div>
						<textarea placeholder="Votre commentaire..."></textarea>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>