body{
	margin: 0px 20px;
}
/*=======NAVIGATION=======*/
nav{
	width: 98%;
	background: white;
}
nav ul{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
a, li{
	list-style-type: none;
	text-decoration: none;
}
nav ul li{
	margin-right: 30px;
}

nav ul .nav-menu, nav ul .logo-head{
	padding: 16px 0px;
}

nav ul .nav-menu a{
	color: rgb(21, 182, 200);
	font-size: 19px;
	padding: 7px;
}

nav ul .nav-menu a:hover, nav ul .nav-menu a:focus{
	border: 1px solid rgb(21, 182, 200);
	color: white;
	background-color: rgb(21, 182, 200);
	border-radius: 20px;
}

nav ul .img-profil{
	margin-left: 700px;
}

nav ul .img-profil a img{
	border-radius: 50px;
}

nav ul .img-profil a img:hover{
	border: none;
	background-color: transparent;
}
/*======= BANIERE========*/
section .baniere{
	height: 400px;
	background: url("../img/header.jpg") no-repeat;
	background-size: cover;
}


/*========PUBLICATION========*/
.container{
	margin-top: 70px;
	height: 600px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: row;
}

.container .ajout{
	margin: 210px 0px;
}

.container .ajout button, .container .ajout input{
	margin: 9px 0px;
	width: 90%;
	height: 40px;
	background-color: rgb(21, 182, 200);
	border-color: rgb(21, 182, 200);
	border-radius: 5px;
	cursor: pointer;
}

.container .publication{
	flex: 3;
	height: 600px;
	flex-direction: column;
	flex-wrap: wrap;
}
/*HEAD PUBLICATION*/
.container .publication .head{
	height: 70px;
	display: flex;
}

.container .publication figure{
	margin: 0px;
	padding: 0px;
}
.container .publication .head img{
	border-radius: 50px;
	margin: 0px 15px;
}
.container .publication .information h2{
	padding: 0px;
	margin: 0px;
	height: 10px;
	font-size: 28px;

}
.container .publication .information p{
	font-size: 18px;
}
.container .publication .head{
	flex: 1;
}
.container .publication .information{
	margin: 5px 0px;
	flex: 16;
}
.container .publication .menu{
	flex: 1;
}


/*DESCRIPTION PUBLICATION*/
.container .publication .description{
	height: 90px;
}

.container .publication .description p{
	margin: 5px 25px 5px 15px;
	font-size: 19px;
	flex-wrap: wrap;
}
/*PHOTO PUBLICATION*/
.container .publication .photo-pub{
	height: 380px;
}
.container .publication .photo-pub img{

}
/*COMMENTAIRE PUBLICATION*/
.container .publication .commentaire{
	height: 51px;
}
.container .publication .commentaire textarea{
	width: 1000px;
	height: 35px;
	margin-top: 5px;
	padding: 5px;
	border-radius: 10px;
}